
.hero{
  margin-top: -47px;
  overflow: hidden;
  position: sticky;

  /* background-image: linear-gradient(to right, #64ffda,#29b6f6,#9575cd ); */
}
.card-body{
  /* background-color: pink; */
    /* background-image: linear-gradient(to right, #64ffda,#29b6f6,#9575cd ); */
}
.container{
}

.mb-0{
  margin-top:5px;
}
.stl{
  margin-top: 20px;
border: 5px solid rgb(11,167,179);
border-radius: 40px;
width: 85%;

}
h2{
  font-weight: bold;
  text-transform: uppercase;
  color:black;
  font-size: 20px;
}

.email{
  color:blue;
}

.click{
  color:black;

}
.btn-login{
  /* background-image: linear-gradient(to right, #64ffda,#29b6f6,#9575cd );
   */
background-color:whitesmoke;
}

.btn-enter{
  color:black;
  font-weight: bold;
  font-size: 15px;
}
